.root {
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;
}

.title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: var(--color-base);
}

.toggle {
    display: flex;
    align-items: center;
    gap: 8px;

    background: none;
    border: none;
    outline: none;

    font-size: 16px;
    line-height: 22px;
    color: var(--color-secondary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    width: 100%;
    height: 190px;

    border: 2px solid #007aff;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 rgba(0, 122, 255, 0.3);
    background: rgba(67, 120, 255, 0.1);
}

.plus {
    font-weight: 400;
    font-size: 64px;
    line-height: 25%;
    letter-spacing: 0em;
    text-align: center;
    color: #007aff;
}

.empty-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 80%;
    letter-spacing: 0em;
    text-align: center;
    color: #007aff;
}