.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    width: calc(100% - 40px);
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--color-secondary);

    transition: 0.3s ease;
    transition-property: background-color, border-color;

    &.is-active {
        background-color: var(--background-button);
        border-color: var(--background-button);
    }
}