@font-face {
    font-family: 'custom-icon-font';
    src:
        local('custom-icon-font'),
        url('./custom-icon-font.ttf') format('ttf'),
        url('./custom-icon-font.woff') format('woff'), 
        url('./custom-icon-font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.icon-chevron_right:before {
      content: "\e001";
      font-family: 'custom-icon-font';
    }
.icon-eye-slash:before {
      content: "\e002";
      font-family: 'custom-icon-font';
    }
.icon-eye:before {
      content: "\e003";
      font-family: 'custom-icon-font';
    }
