.root {
    padding-top: 20px;
    padding-bottom: 70px;
}

.title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: var(--color-base);

    margin-bottom: 16px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.button {
    position: fixed;
    left: 16px;
    bottom: calc(var(--safe-area-inset-bottom, 0px) + 32px);

    display: flex;
    flex-direction: column;
    gap: 25px;

    width: calc(100% - 32px);
}

.alert {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--color-base);
}