:root {
    --background-base: var(--tg-theme-bg-color);
    --background-button: var(--tg-theme-button-color);
    --background-secondary: var(--tg-theme-secondary-bg-color);

    --color-base: var(--tg-theme-text-color);
    --color-button: var(--tg-theme-button-text-color);

    --safe-area-inset-bottom: var(--tg-safe-area-inset-bottom);
    --safe-area-inset-top: var(--tg-safe-area-inset-top);
}
