.root {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;
    transition-property: color;

    &::before {
        vertical-align: bottom;
    }
}

.view {
    &_base {
        color: var(--color-base);
    }

    &_secondary {
        color: var(--color-secondary);
    }

    &_button {
        color: var(--color-button);
    }

    &_section {
        color: var(--background-section);
    }
}