.root {
    padding-top: 20px;
    padding-bottom: 32px;
}

.button {
    position: fixed;
    left: 16px;
    bottom: calc(var(--safe-area-inset-bottom, 0px) + 32px);
    width: calc(100% - 32px);
}

.title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: var(--color-base);

    margin-bottom: 16px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.no-phone {
    display: flex;
    align-items: center;
    gap: 6px;

    margin-top: 32px;

    font-size: 16px;
    line-height: 22px;
    color: var(--color-secondary);

    &:nth-child(1) {
        font-weight: 600;
    }

    &:nth-child(2) {
        font-weight: 400;
    }
}