.root {
    padding: 16px;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: var(--background-section);
}

.divider {
    width: 100%;
    height: 1px;

    margin-top: 8px;
    margin-bottom: 8px;

    background-color: var(--color-secondary);
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    line-height: 22px;
}

.flag {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}